<!doctype html>
<html lang="en">
{% include header/base.html %}
<body>
<h1>Latest Blogs</h1>
<div class="page-content">
  <div class="wrap">
   <ul>{% for post in site.posts %}
     {% if post.nav ==true %}
  <li><a class="page-link" href="{{ post.url | absolute_url}}">{{post.title | escape }}</a></li>
     {{ post.excerpt }}
  {% endif %}
   {% endfor %}
  </ul>
</div>
{% include footer/base.html %}

  </body>

</html>
<!--<html>
<body>
  {%include header/base.html%}

  {% include footer/base.html%}
</body>
</html>-->
